<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.arpia49.SwarnNG"
	android:versionName="0.3.pre"
	android:versionCode="20">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ActMain"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity 
			android:name=".ActNewAlarm1"
			android:label="@string/act_new_alarm"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@style/vista">
			<intent-filter>
				<action android:name="android.intent.action.ADD_NEW_ALARM" />
				<category android:name="android.intent.category.ALARMS" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ActNewAlarm2"
			android:label="@string/act_new_alarm"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@style/vista">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest> 